:root {
    --bg: #161a1d;
    --cursor: #eee;
    --color-text: #cbf3f0;
    --transparent: transparent;
}

@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background: var(--bg);
    cursor: none;
}

/* Navigation menu */
.wrapper {
    /* background: var(--bg); */
    height: calc(100vh - 90px);

    background-color: brown;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    padding: 30px;
    display: flex;
    align-items: center;
}

nav ul li .logo {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav ul li img {
    padding-left: 15px;
    width: 30px;
    height: auto;
}

nav ul li a {
    color: var(--color-text);
    font-size: 1em;
    text-decoration: none;
}

/* MENU DESKTOP */
.sidebar {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */

    position: fixed;
    top: 90px;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.show {
    transform: translateX(0);
}

.menu-Desktop {
    /* display: none; */
    height: 100%;
    width: 450px;
    background-color: var(--transparent);
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.menu-Desktop ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.menu-Desktop ul li {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 40px;
}

.menu-Desktop ul li a {
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.5s;
}


.menu-Desktop ul li a:hover {
    letter-spacing: 16px;
}


/* End of navigation menu part */

/* Cursor part */
.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--transparent);
    border: 2px solid var(--cursor);
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 500ms, height 500ms;
}

.cursor.large {
    height: 70px;
    width: 70px;
}
/* End of Cursor part */
